body {
  font-family: 'Segoe UI', sans-serif;
  background: #f4f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 25px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  margin: 5px 0;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  background: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

li {
  list-style: none;
  background: #f9f9f9;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}